@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
  --color-primary: white;
  --color-secondary: #fca311;
  --color-extra: #14213d;
  --color-grey: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

HTML,
BODY {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  color: #000;
  scroll-behavior: smooth;
}

header {
  background: url("../images/cover-1.jpg") no-repeat center center / cover;
  height: 740px;
  width: 100%;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

h4 {
  color: black;
  font-size: 18px;
}

h3 {
  color: black;
  font-size: 25px;
}

h2 {
  color: var(--color-primary);
  font-size: 35px;
}

h1 {
  color: white;
  font-size: 55px;
}

.hidden {
  transform: translateX(100%);
}

.no-scroll {
  overflow: hidden;
}

.fix {
  position: fixed;
  background-color: #14213d;
  height: 100px;
  top: 0;
  width: 100%;
}

/* Header */
header > div {
  padding: 30px 40px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  font-size: 18px;
  text-transform: uppercase;
}

.selected {
  color: var(--color-secondary);
  font-weight: bold;
}

.nav {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
}
.brandName {
  text-transform: uppercase;
}

.hook {
  width: 70%;
  margin-top: 100px;
}

.hook > h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hook > .description {
  color: white;
  margin-top: 10px;
}

.hook > .sm-description {
  color: white;
  margin-top: 10px;
  display: none;
}

.btn {
  padding: 20px;
  margin-top: 10px;
  border-radius: 15px;
  border-style: none;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-outline {
  margin-top: 40px;
  border: 4px var(--color-secondary) solid;
  background-color: transparent;
  color: white;
  letter-spacing: 2px;
}

.btn-outline:hover {
  background-color: var(--color-extra);
  opacity: 0.9;
  font-weight: bold;
}

/* Hamburger */

.hamburger {
  cursor: pointer;
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 10;
  transition: all 0.75;
  align-self: flex-end;
  display: none;
}

.hamburger > .top-line,
.hamburger > .middle-line,
.hamburger > .bottom-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: white;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger > .middle-line {
  transform: translateY(7px);
}
.hamburger > .bottom-line {
  transform: translateY(14px);
}

.open .top-line {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .middle-line {
  display: none;
}

.open .bottom-line {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.mobile-menu {
  height: 100%;
  background: #14213d;
  width: 70%;
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.5s;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mobile-menu > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

/* Services */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services > img {
  width: 40%;
  margin: 70px 40px 70px 40px;
  height: 30px;
}

.services-names h3 {
  font-weight: normal;
  text-align: center;
}

.services-names {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.s-1,
.s-2,
.s-3,
.s-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.s-1 > img,
.s-3 > img {
  height: 180px;
  align-self: center;
  margin-bottom: 15px;
}

.s-2 > img,
.s-4 > img {
  width: 170px;
  align-self: center;
  margin-bottom: 15px;
}

/* Portfolio */

.portfolio {
  display: block;
}

.p-1,
.p-2,
.p-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-2 > div {
  flex-direction: row-reverse;
}

.p-2 .text-and-buttons {
  text-align: right;
  align-items: flex-end;
  /* justify-self: flex-end; */
}

.p-1 > img,
.p-3 > img,
.p-4 > img {
  width: 40%;
  margin: 70px 40px 70px 40px;
  height: 30px;
}

.p-1 > div,
.p-2 > div,
.p-3 > div {
  display: flex;
  gap: 70px;
  margin: 20px;
}

.btn-google,
.btn-apple {
  background: black;
  padding: 10px 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.btn-google > img,
.btn-apple > img {
  width: 40px;
  height: 40px;
}

.btn-google .text > h3,
.btn-apple .text > h3 {
  color: white;
  font-weight: bold;
  text-align: left;
}

.btn-google .text > h4,
.btn-apple .text > h4 {
  color: white;
  font-weight: normal;
  text-align: start;
}

.text-and-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 60px;
}

.text-and-buttons > h1 {
  color: black;
  text-transform: uppercase;
}
.text-and-buttons > h3 {
  color: black;
  font-weight: lighter;
  width: 80%;
}

.mockup {
  height: 600px;
}

/* Our Clients */

/* .our-clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}


.our-clients .logos-1,
.our-clients .logos-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
    align-self: center;
}

.our-clients .logos-1 > img {
    object-fit: contain;
    height: 200px;
    width: 200px;
}
.our-clients .review {
    width: 60%;
    align-self: center;
    border: 4px var(--color-secondary) solid;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.our-clients .review .client-intro {
    display: flex;
    align-items: center;
    gap: 20px;
}
.client-intro > img {
    max-width: 80px;
    max-height: 80px;
}

.logo-name > img {
    max-height: 100px;
    max-width: 100px;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.our-clients > img {
    width: 40%;
    margin: auto;
    height: 30px;
    margin-top: 30px;
} */

/* Our Clients */

.client-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.client-root > img {
  width: 40%;
  margin: 70px 40px 70px 40px;
  height: 30px;
  align-self: center;
}

.clients {
  display: flex;
  width: 80%;
  flex-direction: row;
}
.clients > div {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  gap: 30px;
  background-color: var(--color-grey);
  margin: 10px;
  padding: 10px;
  text-align: center;
  justify-items: center;
  box-shadow: 2px 2px 1px rgb(0, 0, 0, 0.16);
  border-radius: 8px;
  width: 100%;
  /* height: 500px; */
}
.clients > div > .inverted-commas {
  height: 50px;
  width: 50px;
}
.clients > div > .client-image {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
.clients > div > img {
  align-self: center;
}

/* Contact Us */

.contact > div {
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content > .social {
  margin-top: 20px;
  align-self: center;
}
.contact > .content {
  display: flex;
  flex-direction: column;
}

.contact-and-review {
  display: grid;
  grid-template-columns: 3fr 3fr;
  column-gap: 5px;
}

.contact-and-review > .line {
  border-left: 2px solid var(--color-extra);
  height: 300px;
}

.contact > div > img {
  width: 40%;
  margin: 70px 40px 70px 40px;
  height: 30px;
  align-self: center;
}

.contact-and-review > .contact-info,
.contact-and-review > .review {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.contact-and-review > .review {
  align-items: center;
  justify-content: center;
}

.contact-info > input {
  height: 50px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  border: 1px #000 solid;
  border-radius: 20px;
}
.contact-info > textarea {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  border: 1px #000 solid;
  border-radius: 20px;
}

.btn-contact {
  background-color: var(--color-secondary);
  font-weight: bold;
  font-size: 15px;
  width: 150px;
}

.review > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.review > h4 {
  font-weight: normal;
  font-size: 25px;
}

.review > p {
  text-align: center;
  width: 70%;
}
.social > a > img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  margin: 20px 0px 0px 20px;
}

.content > div > h3 {
  font-size: 24px;
  text-transform: uppercase;
}

/* Media Queries */

@media (max-width: 1020px) {
  /* Headers */

  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 12px;
  }
  .navbar > ul {
    display: none;
  }
  /* .hamburger {
    display: block;
    justify-self: end;
  } */
  .nav {
    grid-template-columns: 5fr 1fr 1fr;
    align-items: stretch;
  }
  header > div {
    padding: 15px 20px;
  }
  .hook > .sm-description {
    display: block;
  }
  .hook > .description {
    display: none;
  }
  .hook {
    margin: 30px auto;
    text-align: center;
    width: 100%;
  }
  header {
    height: 500px;
  }

  /* Services */

  .services-names {
    grid-template-columns: 1fr 1fr;
  }

  /* Portfolio */

  .text-and-buttons {
    align-items: center;
    text-align: center;
  }

  .p-2 .text-and-buttons {
    align-items: center;
    text-align: center;
  }

  .btn-google img {
    height: 30px;
    width: 30px;
  }

  .btn-apple img {
    height: 40px;
    width: 45px;
  }

  .p-1 > div,
  .p-2 > div,
  .p-3 > div {
    display: flex;
    flex-direction: column-reverse;
    gap: 0px;
  }

  .mockup {
    height: 400px;
    width: 200px;
    align-self: center;
  }

  /* Clients */
}

@media (max-width: 760px) {
  .services-names {
    grid-template-columns: 1fr;
  }
  .clients {
    flex-direction: column;
    margin: 40px;
  }
  .contact-and-review {
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
  }
  .contact-and-review > .contact-info {
    width: 100%;
    align-content: center;
  }
  .btn-contact {
    background-color: var(--color-secondary);
    font-weight: bold;
    align-self: center;
    font-size: 12px;
    width: 100px;
  }
  .social > a > img {
    height: 35px;
    width: 35px;
    object-fit: cover;
    margin: 10px 0px 0px 10px;
  }
}
